/*  your css code here. If applicable */
body {
	font-family: Arial, sans-serif;
	background-color: #fafafa;
	text-align: center;
	padding: 30px;
}

table {
	border: 1px solid black;
	border-spacing: 1px;
	padding: 1px;
	margin: 20px auto;
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 5px 10px;
}

.middle {
	margin: 0 auto;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.green {
	background-color: lightgreen;
}

.blue {
	background-color: lightblue;
}

img {
	display: block;
	margin: 0 auto;
}

